.byline {
    font-size: .8em;
    color:black;
}

.date {
    margin-bottom: 5px;
  font-variant: small-caps;
  background-color: $pantry-blue;
  line-height: 1.1;
  padding:5px;
}

.event {
    font-variant: small-caps;
    margin-bottom: 5px;
    line-height: 1.1;
    padding:5px;
}

.where {
    margin-bottom: 5px;
    font-size: 80%;
    padding:5px;
}

.when, .img-cap {
    margin-bottom: 5px;    
}

.calendar {
    background: $pantry-blue;
        }

a{
    hyphens: none;
}

.bluetitle {
    color: $pantry-blue;
    font-variant: small-caps;
    font-family: $header-font-family;
}
